:root{
  --square-width: 10vw
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.board{
  display: grid;
  width: max-content;
  grid-template-columns: repeat(3, auto);
  /* grid-template-rows: repeat(3, 1fr); */
}


.square{
  width: var(--square-width);
  height: var(--square-width);
  min-width: 100px;
  min-height: 100px;
  border: 3px solid #000;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.square:first-child,
.square:nth-child(2),
.square:nth-child(3){
  border-top: none;;
}

.square:last-child,
.square:nth-child(7),
.square:nth-child(8){
  border-bottom: none;;
}

.square:first-child,
.square:nth-child(4),
.square:nth-child(7){
  border-left: none;;
}

.square:last-child,
.square:nth-child(3),
.square:nth-child(6){
  border-right: none;;
}

